/*Color del texto*/
.colorText {
	color: green;
}

/*Color de la cabecera de la tabla*/
.headerTable {
	text-align: center;
	background: none repeat scroll 0 0 #e5e5e5;
	border-bottom: 1px solid #bbbbbb;
	padding: 16px;
}

/*Color de las columnas de la tabla*/
.rowTable {
	text-align: center;
	background: none repeat scroll 0 0 #f9f9f9;
	border-top: 1px solid #bbbbbb;
}

/*Color de las celdas de la tabla*/
.rowTableLine {
	text-align: center;
	background: none repeat scroll 0 0 #ffffff;
	border-top: 1px solid #bbbbbb;
}